<header>
	<h1><%= @page.name %></h1>
	<p><%= @page.headliner %></hp>
</header>

<div>
	<p>This is where the cool stuff happens! But for now at least we have buttons!</p>
	<br>
	<br>
	<button><%= link_to 'Home', @page_first %></button>
	<button><%= link_to 'Next', @page_last %></button>
</div>

<footer>
	<p><%= @page.footer %></p>
</footer>
