<header>
	<h1>
		<%= @page.name %>
	</h1>
	<p><%= @page.headliner %></p>
	<p><%= @page.rando %></p>
</header>

<div>
	<p><%= @page.main_section %></p>
	<br>
	<br>
	<button><%= link_to 'Home', @page_first %></button>
	<button><%= link_to 'Next', @page_last %></button>
</div>

<footer>
	<p><%= @page.footer %></p>
</footer>
